

header{
	font-family: 'Reem Kufi Fun', sans-serif !important;
	font-size: 1.25em;
	width: 100%;
}

body{
	font-family: 'Frank Ruhl Libre', serif;
}

nav{
	padding-left: 33% !important;	
	padding-bottom: 1.5% !important;
	padding-top: 1.5% !important;
}

a.active{
	background-color: #D9D7A5;
	/*border-style: solid;*/
	border-color: #B3B188;
	/*text-decoration: underline !important;*/
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

main div a:hover{
	color: #9a4c4a;
}

.fixed_margin {
 	margin-top: 2% !important;
}

.titolo{
	font-family: 'Reem Kufi Fun', sans-serif !important;
	color: #9a4c4a;
}

.stilelink{
	color: #54565d;
	text-decoration: none;
}

.stilelink:hover{
	color: #54565d;
}

.titolo_articoli{
 text-decoration-line: underline;
 font-family: 'Reem Kufi Fun', sans-serif !important;
}

.responsive{
	 max-width: 100%;
  	 height: auto;
}

#centrale{
	/*margin-left: 5% !important;*/
	font-size: 1.50em;
	text-align: justify;
}

 .interlinea{
	line-height: 2;
}

form{
	padding-top: 10%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

textarea{
	width: 100%;
	  height: 30vh;
	  padding: 12px 20px;
	  border: 2px solid #ccc;
	  border-radius: 4px;
	  background-color: #f8f8f8;
	  font-size: 1em;
	  resize: none;
}

main button{
	margin-bottom: 5% !important;
}

footer {
  	width: 100%;
  	bottom: 0;
  	left: 0;
  	text-align: center;
}

.icone{
	padding-left: 81%;
	padding-top: 0px;
}



.dimensione{
	font-size: 1.5em;
}


